body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    grid-template-rows: repeat(6, 80px);
    margin: auto;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    background: linear-gradient(145deg, #bdc3c7, #2c3e50);
    transition: all 1s ease;
    margin-top: 100px;
    
}

.box:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.inner {
    background: linear-gradient(325deg, #888, #666);
    border: 2px solid;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    color: aliceblue;
    border-color: black;
}

.inner:hover {
    transform: scale(1.1);
    background: linear-gradient(325deg, #aaa, #888);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#display {
    grid-area: 1/1/ span 1/span 4;
    border-radius: 15px;
    cursor: default;
    background: linear-gradient(145deg, #1f1f1f, #3c3c3c);
    display: flex;
    justify-content: end;
    color: azure;
    padding: 10px 10px;
    max-width: 100%;
    font-size: 24px;
}

#display:hover {
    text-align: right !important;
    transform: none !important;
    background: linear-gradient(145deg, #1f1f1f, #3c3c3c) !important;
    box-shadow: none !important;
}

#box2 {
    grid-area: 6/2/span 1/span 3;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: oblique;
    color: aliceblue;
    background: linear-gradient(145deg, #434343, #000000);
    cursor: default;
    font-size: 22px;
    text-shadow:
        1px 1px navy,
        2px 2px darkblue,
        3px 3px #000033;
}

#box2:hover {
    transform: none !important;
    background: linear-gradient(145deg, #434343, #000000) !important;
    box-shadow: none !important;
}

img {
    transition: all 1s ease;
}

img:hover {
    transform: scale(3) rotate(-10deg);
    border-radius: 50%;
}